body {background-color: #eae9e5;}

.grid{
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(13, 1fr);
	grid-gap: 0px;
}
.grid div:headerbackground.jpg{
	grid-column: 1/6;
	grid-row: 1/2;
}
.grid div:indexnorthern.jpg{
	grid-column: 5;
	grid-row: 4/5;
}
.grid div:indexcentral.jpg{
	grid-column: 2;
	grid-row: 6/7;
}
.grid div:indexsouthern.jpg{
	grid-column: 5;
	grid-row: 8/9;
}
.grid div:indexwave.jpg{
	grid-column: 2;
	grid-row: 10/11;
}
