h1 {font-family: jaf-lapture-display, serif;
font-weight: 400;
font-style: normal;}
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
.headerbackground.jpg {
  grid-column-start: 1;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 3;
}
.indexnorthern.jpg{
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 9;
}
.indexcentral.jpg{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 11;
  grid-row-end: 14;
}
.indexsouthern.jpg{
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 16;
  grid-row-end: 19;
}
.indexwave.jpg{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 21;
  grid-row-end: 24;
}
.grid-container {
  display: grid;
  grid-column-gap: 0px;
}
.grid-container {
  display: grid;
  grid-row-gap: 0px;
}


