body {
  background-color: #eae9e5; z-index: -3
}

.grid-container {
  display: grid;
  display: inline-grid;
  grid-template-columns: repeat(6,200px);
  grid-template-rows: repeat(14,200px)
  grid-gap: 0px;
  padding: 0px;
  }

.grid-container > div {
  text-align: center;
  padding: 0;
  font-size: 15px;
}

.vl {
  grid-row-start: 3;
  grid-row-end: 13;
  border-left: 1px solid black;
  height: 11fr;
  left: 50%; 
  top: 50%;
  position: static;
  z-index: -1;
}

.surfers-guide {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 1;
  text-align: center;
  margin: auto;
}

.northern-coast {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  text-align: center;
  margin: auto;
}

.central-coast {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 9;
  text-align: center;
  margin: auto;
}

.southern-coast {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 11;
  text-align: center;
  margin: auto;
}

.wave-map {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 11;
  grid-row-end: 13;
  text-align: center;
  margin: auto;
}

.header-img {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: -1;
  object-fit: cover;
  width: 100%;
}

.north-image {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  width: 1fr;
  height: 2fr;
  object-fit: cover;
  width: 100%;
}

.central-image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9;
  width: 1fr;
  height: 2fr;
  object-fit: cover;
  width: 100%;
}

.southern-image {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 11;
  width: 1fr;
  height: 2fr;
  object-fit: cover;
  width: 100%;
}

.wave-image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 13;
  object-fit: cover;
  width: 100%;
}



.responsive {
    width: 100%;
    height: auto;
}

.bar {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 14;
  width: 14fr;
  height: 1fr;
  }

.black {
  background:#0f0;
}

.break {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  margin: auto;
}














