body {
  background-color: #eae9e5;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0em;
}

.div {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
}

@font-face {
    font-family: "ogg";
    src: url(https://brooklynneworthington.github.io/surfguide.github.io/surf-guide/css/fonts/ogg.woff2) format('woff2'),
         url(https://brooklynneworthington.github.io/surfguide.github.io/surf-guide/css/fonts/ogg.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hkgrotesk";
    src: url(https://brooklynneworthington.github.io/surfguide.github.io/surf-guide/css/fonts/hk.woff2) format('woff2'),
         url(https://brooklynneworthington.github.io/surfguide.github.io/surf-guide/css/fonts/hk.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}



h2 {
  font-family: europa, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

p {
  font-family: europa, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

h1 {
  font-family: ogg, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  margin: auto;
}

h4 {
  font-family: ogg, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  line-height: 100%;
  margin: auto;
  color: #9d6b36;
}


h3 {
  font-family: ogg, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 500%;
}

h5 {
  font-family: ogg, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  color: #9d6b36;
  margin: auto;
}

h6 {
  font-family: europa, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

.grid-container-index {
  display: grid;
  grid-template-columns: repeat(14,1fr);
  grid-template-rows: repeat(26,1fr)
  padding: 0em;
  margin: 0em;
  width: 100%;
}

/* INDEX GRID INFO */

.index-header {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  width: 100%;
  margin: auto;
  z-index: 2;
}


.index-header-img {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  object-fit: cover;
  width: 15fr;
  height: 2fr;

}

.index-northern {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
  text-align: center;
  width: 100%;
  margin: auto;
}

.index-central {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 8;
  grid-row-end: 12;
  text-align: center;
  width: 100%;
  margin: auto;
}

.index-southern {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 12;
  grid-row-end: 16;
  text-align: center;
  width: 100%;
  margin: auto;
}

.index-wavemap {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 16;
  grid-row-end: 22;
  text-align: center;
  width: 100%;
  margin: auto;
}

.index-northern-img {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 8;
  width: 100%;
  margin: 0px;
}

.index-central-img {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 12;
  width: 100%;
  margin: 0px;
}

.index-southern-img {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 12;
  grid-row-end: 16;
  width: 100%;
  margin: 0px;
}

.index-wavemap-img {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 16;
  grid-row-end: 22;
  width: 100%;
  margin: 0px;
}

.responsive {
  width: 100%;
  height: auto;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover { 
  color: #9d6b36;
  text-decoration: none; }

.vl {
   border-left: 1px solid black;
   grid-column-start: 8;
   grid-column-end: 8;
   grid-row-start: 1;
   grid-row-end: 23;
   left: 50%
   margin-left: 2fr;

}

.breakbar1 {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 3;
  grid-row-end: 3;
  width: 100%;
  margin: 0px;
  z-index: -1;
  opacity: 0.0;
}

.breakbar2 {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 22;
  grid-row-end: 23;
  width: 100%;
  margin: 0px;
  z-index: -1;
  opacity: 0.0;
}

.solidbar1 {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 23;
  grid-row-end: 23;
  height: 100%;
  margin: 0px;
}

div.hr1 {
  text-align: center;
  margin: auto;
  width: 50%;
  border-left: 1px;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 7;
  border-top: 1px solid black;
}

/* Northern Page */

.home-nav {
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3

}

.northern-coast-nav {
  text-align: center;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.central-coast-nav {
  text-align: center;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.southern-coast-nav {
  text-align: center;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}

.wave-map-nav {
  text-align: center;
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 3;
}

.page-info-north {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 9;
  text-align: center;
  z-index: 1;
  margin-top: 40px;
}

.north-header {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 7;
  text-align: center;
  margin: auto;
  width: 100%;  
  z-index: 1;
  position: relative;
}


.north-header-img {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 8;
  position: relative;
  object-fit: cover;
  width: 4fr;
  height: 6fr;
  opacity: 80%;
}

.northern-1 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 14;
}

.northern-2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 14;
  grid-row-end: 18;
}

.northern-3 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 18;
  grid-row-end: 22;
}

.vlnorth {
   border-left: 1px solid black;
   grid-column-start: 8;
   grid-column-end: 8;
   grid-row-start: 3;
   grid-row-end: 23;
   left: 50%
   margin-left: 2fr;
}

.north-surf {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 9;
  grid-row-end: 14;
  text-align: left;
  width: 100%;
  margin: auto;
}

.north-play {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 14;
  grid-row-end: 18;
  text-align: left;
  width: 100%;
  margin: auto;
}

.north-stay {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 18;
  grid-row-end: 22;
  text-align: left;
  width: 100%;
  margin: auto;
}

.breakbar3 {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 8;
  grid-row-end: 8;
  width: 100%;
  margin: 0px;
  z-index: -1;
  opacity: 0.0;
}

.breakbar4 {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 22;
  grid-row-end: 22;
  width: 100%;
  margin: 0px;
  z-index: -1;
  opacity: 0.0;
}

.solidbar2 {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 23;
  grid-row-end: 23;
  height: 50%;
  margin: 0px;
  position: relative;
}

.breakbar5 {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 3;
  grid-row-end: 22;
  width: 100%;
  margin: 0px;
  z-index: -1;
  opacity: 0.0;
}

/* Central */

.c-1 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 14;
}

.c-2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 14;
  grid-row-end: 18;
}

.c-3 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 18;
  grid-row-end: 22;
}

.central-surf {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 9;
  grid-row-end: 14;
  text-align: left;
  width: 100%;
  margin: auto;
}

.central-play {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 14;
  grid-row-end: 18;
  text-align: left;
  width: 100%;
  margin: auto;
}

.central-stay {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 18;
  grid-row-end: 22;
  text-align: left;
  width: 100%;
  margin: auto;
}

.c-header-img {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 8;
  position: relative;
  object-fit: cover;
  width: 4fr;
  height: 6fr;
}

/* South */

.southern-1 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 14;
}

.southern-2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 14;
  grid-row-end: 18;
}

.southern-3 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 18;
  grid-row-end: 22;
}

.central-coast-nav2 {
  text-align: center;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* surf vids */

.video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: -1;
}


