body {
  background-color: #eae9e5;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0em;
}

.div {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
}

@font-face {
    font-family: "ogg";
    src: url(https://brooklynneworthington.github.io/surfguide.github.io/surf-guide/css/fonts/ogg.woff2) format('woff2'),
         url(https://brooklynneworthington.github.io/surfguide.github.io/surf-guide/css/fonts/ogg.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hkgrotesk";
    src: url(https://brooklynneworthington.github.io/surfguide.github.io/surf-guide/css/fonts/america.woff2) format('woff2'),
         url(https://brooklynneworthington.github.io/surfguide.github.io/surf-guide/css/fonts/america.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}



h2 {
  font-family: ogg, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

h1 {
  font-family: ogg, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
}

h3 {
  font-family: ogg, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

.grid-container-index {
  display: grid;
  grid-template-columns: repeat(14,1fr);
  grid-template-rows: repeat(31,1fr)
  padding: 0em;
  margin: 0em;
  width: 100%;
}


/* INDEX GRID INFO */

.index-header {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  margin: auto;
  width: 100%;  
  position: absolute;
  top: 0px;
  left: 0px;
}


.index-header-img {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  margin: 0px;
  position: relative;
}


.index-northern-img {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 8;
  width: 100%;
  margin: 0px;
}

.index-central-img {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 12;
  width: 100%;
  margin: 0px;
}

.index-southern-img {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 12;
  grid-row-end: 16;
  width: 100%;
  margin: 0px;
}

.index-wavemap-img {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 16;
  grid-row-end: 22;
  width: 100%;
  margin: 0px;
}

.responsive {
  width: 100%;
  height: auto;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover { 
  color: #9d6b36;
  text-decoration: none; }


